@media only screen and (min-width: 768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
 }

 .nav-header{
    justify-content: flex-start;
 }

 .nav-menu{
   flex-direction: row;
   justify-content: flex-end;
   margin-top: 35px;
   padding-right: 20px;
   
 }

 .nav-menu a{
   background-color: transparent;
   border-radius: 0px;
   padding: 10px ;
   color: white;
 }

 .nav-menu a:hover{
    background-color: rgb(2, 212, 142);
    font-weight: bold;
    border-radius: 25%;
 }
 
          /* profile starts */

.profile{

}

.profile-desc h1{
  font-size: 3.5rem;
  padding:5px;
  margin-top: 2px;
  margin-bottom: 5px;
 }

 .profile-desc p {
  margin: 0 auto;
  width: 98%;
  text-align: justify;
}

.profile-img{
 
 }

          /* profile ends */
          
          /* card section starts */
.card-section{
  height: 500px;
}
          
.card1-front, .card1-back{
  position: absolute;
  top: 10px;
  left: 6.25%;
  margin: unset;
  height: 450px;
}

.card2-front, .card2-back{
  position: absolute;
  top: 10px;
  left: 37.5%;
  margin: unset;
  height: 450px;
}

.card3-front, .card3-back{
  position: absolute;
  top: 10px;
  left: 68.72%;
  margin: unset;
  height: 450px;
}

.card-desc{
  width: auto;
  padding: 0 10px;
  margin-bottom: 0px;
}
          
.back-card-desc{
  width: auto;
  padding: 0 10px 10px 10px;
}

.card-icon img{
  margin-top: 70px;
 
}
          
          /* card section ends */
          
          /* about me starts */

.aboutme-desc{
  text-align: left;
}

.aboutme-hr{
  width: auto;
  margin-right:3%;
}

.dotted-hr {
  margin-bottom: 20px;

}

.aboutme-desc p:first-child{
  text-align-last: left;
  padding-top: 7px;
  margin-right: 3%;
}

         /* about me endts */
         
         /* contact me starts */
.contactme{
  padding: 30px 15px 10px 15px;
}

.contactme-hr{
  margin-bottom: 35px;
}

.contactme button{
  
}
.social-media{
  padding-top: 20px;
}

.social-media button{
  font-size: 40px;
  margin: 10px;
}

.social-media-desc{
  width: 250px;
  margin: 0 auto;
  padding-top: 10px;
}
         
         /* contact me ends */
         
         /* footer starts */
.footer{
  
}
         
         /* footer ends */