* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Fira Sans", sans-serif;
}

h1 {
  font-family: "Lobster", cursive;
  font-size: 2.5rem;
}

p{
  font-size: 17px;
}

[class*="col-"] {
  float: left;
  width: 100%;
}

/* navbar starts */
.navbar {
  background-color: rgb(58, 253, 188);
  text-align: center;
  /* padding: 10px; */
}

.nav-header h1 {
}
.nav-menu {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
}

.nav-menu a {
  text-decoration: none;
  padding: 10px 0px;
  background-color: rgb(2, 212, 142);
  color: white;
  margin: 3px;
  border-radius: 15px;
}

.nav-menu a:hover {
  background-color: rgb(2, 168, 113);
}

.navbar::after {
  content: " ";
  display: table;
  clear: both;
}
/* navbar ends */

/* profile starts */

.profile-img {
 text-align: center;
}

.profile img {
  width: 60%;
}

.profile-desc {
}

.profile-desc p {
  margin: 0 auto;
  /* width: 90%; */
  text-align: justify;
}

.profile-desc h1 {
  margin-top: 0px;
  text-align: center;
  font-size: 2rem;
}

.profile::after {
  content: "";
  display: table;
  clear: both;
}

/* profile ends */

/* card section starts */
.card-section{
  
}

.card{
  height: 500px;
  width: 90%;
  margin-top: 20px;
  margin-left: 5%;
  border-radius: 5%;
  text-align: center;
  background-color: rgb(58, 253, 188);
  color: white;
}

.card-icon img{
  height: 200px;
  width: 200px;
  padding: 15px;
  border-radius: 5%;
  margin-top: 120px;
  background-color: white;
}

.card-heading{
  
}

.card-desc{
  
}


/* card section ends */

/* about me starts */
.aboutme {
  background-color: rgb(58, 253, 188);
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
}
.aboutme h2{
  margin-top: 0px;
  margin-bottom: 0px;
}
.dotted-hr {
  margin-top: 0px;
  padding-top:0px;
  border:5px dotted white;
  border-bottom: none;
  width: 130px;
}

.aboutme-img {

}

.aboutme-img img{
  height: 180px;
  width: 180px;
  border: white 3px solid;
  border-radius: 50%;
  margin-top: 18px;

}

.aboutme-desc {

}
.aboutme-desc p a{
  text-decoration: none;
  color: white;
  
}

.aboutme-desc p:first-child{
  text-align: justify;
  text-align-last: center;

}

.aboutme-desc p a:hover{
  text-decoration: none;
  color: white;
  font-weight: bold;
  background-color: rgb(2, 212, 142);
  border-radius: 25%;
  padding: 10px;
}

.aboutme-hr {
  border: white .8px solid;
  border-bottom: none;
  width: 80%;
}

.cv-button {
  padding: 6px;
  border:white solid 2px;
  border-radius: 25%;
  background-color:rgb(58, 253, 188);
  color: rgb(255, 255, 255);
  font-weight: bold;
 
}

.cv-button:hover {
  padding: 6px;
  border:rgb(2, 212, 142) solid 2px;
  border-radius: 25%;
  background-color:white ;
  color:rgb(2, 212, 142) ;
  font-weight: bold;
  transition:background-color .7s, color .7s;
  }

.clear{
  display: table;
  clear: both;
  color: " ";
}

/* about me ends */
