* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Fira Sans", sans-serif;
}

h1 {
  font-family: "Lobster", cursive;
  font-size: 2.5rem;
}

p{
  font-size: 17px;
}

[class*="col-"] {
  float: left;
  width: 100%;
}

/* navbar starts */
.navbar {
  background-color: rgb(58, 253, 188);
  text-align: center;
  /* padding: 10px; */
}

.nav-header h1 {
}
.nav-menu {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  padding-right: 20px;
}

.nav-menu a {
  text-decoration: none;
  padding: 10px 0px;
  background-color: rgb(2, 212, 142);
  color: white;
  margin: 3px 6px;
  border-radius: 15px;
}

.nav-menu a:hover {
  background-color: rgb(2, 168, 113);
}

.navbar::after {
  content: " ";
  display: table;
  clear: both;
}
/* navbar ends */

/* profile starts */

.profile-img {
 text-align: center;
}

.profile img {
  width: 55%;
}

.profile-desc {
}

.profile-desc p {
  margin: 0 auto;
  width: 95%;
  text-align: justify;
}

.profile-desc h1 {
  margin-top: 0px;
  text-align: center;
  font-size: 2rem;
}

.profile::after {
  content: "";
  display: table;
  clear: both;
}

/* profile ends */

/* card section starts */
.card-section{
  height: 1550px;
  position: relative;
  margin-top: 10px;
  overflow: hidden;
}

.card1-front, .card1-back{
  position: absolute;
  top: 10px;
  height: 500px;
  width: 90%;
  margin-left: 5%;
  border-radius: 5%;
  text-align: center;
  background-color: rgb(58, 253, 188);
  color: white;
  backface-visibility: hidden;
  transition: transform .5s linear;
}

.card2-front, .card2-back{
  position: absolute;
  top: 520px;
  height: 500px;
  width: 90%;
  margin-left: 5%;
  border-radius: 5%;
  text-align: center;
  background-color: rgb(58, 253, 188);
  color: white;
  backface-visibility: hidden;
  transition: transform .5s linear;
}

.card3-front, .card3-back{
  position: absolute;
  top: 1030px;
  height: 500px;
  width: 90%;
  margin-left: 5%;
  border-radius: 5%;
  text-align: center;
  background-color: rgb(58, 253, 188);
  color: white;
  backface-visibility: hidden;
  transition: transform .5s linear;
}


.card1-back, .card2-back, .card3-back{
  transform: perspective(800px) rotateY(-180deg);
} 

.card1-front, .card2-front ,.card3-front{
  transform: perspective(800px) rotateY(0deg);
}

.card1:hover>.card1-back{
  transform: perspective(800px) rotateY(0deg);
}

.card1:hover>.card1-front{
  transform: perspective(800px) rotateY(180deg);
}

.card2:hover>.card2-back{
  transform: perspective(800px) rotateY(0deg);
}

.card2:hover>.card2-front{
  transform: perspective(800px) rotateY(180deg);
}

.card3:hover>.card3-back{
  transform: perspective(800px) rotateY(0deg);
}

.card3:hover>.card3-front{
  transform: perspective(800px) rotateY(180deg);
}

.card-icon img{
  height: 200px;
  width: 200px;
  padding: 15px;
  border-radius: 5%;
  margin-top: 120px;
  background-color: white;
  box-shadow: 0 0 5px 2px rgb(28, 212, 151) ;
}


.card-heading h2{
  
}

.card-desc{
  margin: 0 auto;
  text-align: justify;
  text-align-last:center ;
  width: 85%;
}

.back-card-desc{
  margin: 0 auto;
  padding: 0 20px;
  text-align: justify;
  text-align-last:left;
  
}

.card-section::after{
  content: '';
  display: table;
  clear: both;
}

/* card section ends */

/* about me starts */
.aboutme {
  background-color: rgb(58, 253, 188);
  color: white;
  text-align: center;
  padding: 10px;
  /* margin-top: 20px; */
}

.aboutme h2{
  margin-top: 0px;
  margin-bottom: 0px;
}
.dotted-hr {
  margin-top: 0px;
  padding-top:0px;
  border:5px dotted white;
  border-bottom: none;
  width: 130px;
}

.aboutme-img {

}

.aboutme-img img{
  height: 180px;
  width: 180px;
  border: white 3px solid;
  border-radius: 50%;
  margin-top: 18px;
}

.aboutme-desc {

}
.aboutme-desc p a{
  text-decoration: none;
  color: white;
  
}

.aboutme-desc p:first-child{
  text-align: justify;
  text-align-last: center;

}

.aboutme-desc p a:hover{
  text-decoration: none;
  color: white;
  font-weight: bold;
  background-color: rgb(2, 212, 142);
  border-radius: 25%;
  padding: 10px;
}

.aboutme-hr {
  border: white .8px solid;
  border-bottom: none;
  width: 80%;
}

.cv-button {
  padding: 6px;
  border:white solid 2px;
  border-radius: 30px;
  background-color:rgb(58, 253, 188);
  color: rgb(255, 255, 255);
  font-weight: bold;
  
}

.cv-button:hover {
  padding: 6px;
  border:rgb(2, 212, 142) solid 2px;
  border-radius: 30px;
  background-color:white ;
  color:rgb(2, 212, 142) ;
  font-weight: bold;
  transition:background-color .7s, color .7s;
  }

.clear{
  display: table;
  clear: both;
  color: '';
}
/* about me ends */

/* contac me starts */
.contactme{
  padding-top: 30px;
  background-color: rgb(58, 253, 188);
  text-align: center;
}
.contactme input, textarea{
  text-align: center;
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 10px;
  margin:7px 0px;
}

textarea{
  resize: none;
}

.contactme form{
  margin: 0px 6px;
}
.contactme form button{
  padding: 6px;
  margin:0px 7px;
  width: 80px;
  border:none;
  border-radius: 30px;
  background-color:rgb(58, 253, 188);
  color: rgb(255, 255, 255);
  font-weight: bold;
  box-shadow: 0 0 5px 2px rgb(28, 212, 151) ;
}

.contactme form button:hover{
  box-shadow: 0 0 5px 3px rgb(2, 168, 113) ;
}

.contactme h2{
  margin-bottom: 1px;
  color: white;
}

.contactme-hr{
  border: 1.5px solid white;
  border-bottom: none;
  width: 130px;
  margin-top: 0px;
}

.social-media h3{
  color: white;
  line-height: 90%;
  margin-top: 0px;
  margin-bottom: 0px;
}
.social-media h3:first-child{
 margin-top: 30px;
}


.social-media button{
  border:none;
  border-radius: 6px;
  margin: 10px 4px 10px 4px;
  background-color: rgb(58, 253, 188);
  font-size: 35px;
  box-shadow: 0 0 5px 2px rgb(28, 212, 151) ;
}

.social-media button:hover{
  box-shadow: 0 0 5px 5px rgb(2, 168, 113) ;
}

.clear1{
  display: table;
  content: '';
  clear: both;
}
/* contac me ends */

/* footer starts */
.footer{
  background-color: black;
  text-align: center;
  padding-top: 15px;
}

.footer a{
  margin: 0 10px;
  padding: 5px;
  text-decoration: none;
  color: white;
}

.footer a:hover{
  background-color: rgb(51, 49, 49);
  border-radius: 7px;
  padding: 5px;
}

.footer p{
  margin-bottom: 10px;
  text-decoration: none;
  color: white;
}


/* footer ends */


